
         .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0.4px;
}


.column {
  flex: 50%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 18px;
  vertical-align: center;
  width: 100%;
  
}


@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
 body {
    background-color:  green;
    font-family: lobster;
    color: pink;
  }
 #img-caption{
   color: black;
  font-size: larger;
  font-style: Helvetica;
 }

 #tribute-info{
    background-color: pink;
    color: salmon;
    font-weight: bolder;
    font-size: 16px;

 }
 #copy-right{
   font-size:small ;
 }
 
#img-div {
 justify-content: center;
}

.center{
  margin: auto;
  width: 50%;
  padding: 10px;
}
#tribute-link{
  color:tomato;
  font-weight: bolder;
  
}